{% load static %}
<div id="sidebar" class="active">
    <div class="sidebar-wrapper active">
        <div class="sidebar-header">
            <div class="d-flex justify-content-between">
                <div class="logo">
               
                </div>
                <div class="toggler">
                    <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                </div>
            </div>
        </div>
        <div class="sidebar-menu">
            <ul class="menu">
                <li class="sidebar-title">Menu</li>

                <li class="sidebar-item {% if request.resolver_match.url_name == "dashboard" %}active{% endif %}">
                    <a href="{% url 'cms:dashboard' %}" class="sidebar-link">
                        <i class="bi bi-grid-fill"></i>
                        <span>Dashboard</span>
                    </a>
                </li>

                <li class="sidebar-item {% if request.resolver_match.url_name == "contact.index" %}active{% endif %}">
                    <a href="{% url 'cms:contact.index' %}" class="sidebar-link">
                        <i class="bi bi-grid-fill"></i>
                        <span>Contact</span>
                    </a>
                </li>

                <li class="sidebar-item {% if "productCategory." in request.resolver_match.url_name  %}active{% endif %}">
                    <a href="{% url 'cms:productCategory.index' %}" class="sidebar-link">
                        <i class="bi bi-grid-fill"></i>
                        <span>Product category</span>
                    </a>
                </li>

                <li class="sidebar-item {% if "product." in request.resolver_match.url_name  %}active{% endif %}">
                    <a href="{% url 'cms:product.index' %}" class="sidebar-link">
                        <i class="bi bi-grid-fill"></i>
                        <span>Product</span>
                    </a>
                </li>

                <li class="sidebar-item {% if "productShopify." in request.resolver_match.url_name  %}active{% endif %}">
                    <a href="{% url 'cms:productShopify.index' %}" class="sidebar-link">
                        <i class="bi bi-grid-fill"></i>
                        <span>Product shopify</span>
                    </a>
                </li>
                <li class="sidebar-item {% if 'order.' in request.resolver_match.url_name  %}active{% endif %}">
                    <a href="{% url 'cms:order.index' %}" class="sidebar-link">
                        <i class="bi bi-grid-fill"></i>
                        <span>Order</span>
                    </a>
                </li>
{% comment %} 
                <li class="sidebar-item has-sub {% if 'priceRule.' in request.resolver_match.url_name  %}active{% endif %}">
                    <a href="#" class="sidebar-link">
                        <i class="bi bi-stack"></i>
                        <span>Discount</span>
                    </a>
                    <ul class="submenu {% if 'priceRule.' in request.resolver_match.url_name  %}active{% endif %}">
                        <li class="submenu-item {% if 'priceRule.' in request.resolver_match.url_name  %}active{% endif %}">
                            <a href="{% url 'cms:priceRule.index' %}">Price rule</a>
                        </li>
                    </ul>
                </li> {% endcomment %}

                <li class="sidebar-item {% if "admin." in request.resolver_match.url_name  %}active{% endif %}">
                    <a href="{% url 'cms:admin.index' %}" class="sidebar-link">
                        <i class="bi bi-grid-fill"></i>
                        <span>Admin manager</span>
                    </a>
                </li>

                <li
                    class="sidebar-item {% if "groupPermission." in request.resolver_match.url_name  %}active{% endif %}">
                    <a href="{% url 'cms:groupPermission.index' %}" class="sidebar-link">
                        <i class="bi bi-grid-fill"></i>
                        <span>Group permission</span>
                    </a>
                </li>


            </ul>
        </div>
        <button class="sidebar-toggler btn x">
            <i data-feather="x"></i>
        </button>
    </div>
</div>