{% extends "web/partials/layout.html" %}
{% load helpers %}
{% load static %}
{% block css %}
<style>
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1vw;
        min-height: 50vh;
        padding: 5vw 20vw;
        text-align: center
    }

    tr {
        display: flex;
        gap: 5vw;
        width: 70vw;
        margin-bottom: 2vw
    }

    td {
        flex: 1
    }

    thead {
        font-weight: bold
    }
</style>
{% endblock %}
{% block content %}
<div class="container">
    <div>
        <img src="{% if product.image %}{{product.image}}{% else %}{% static "product.jpg" %}{% endif %}" alt=""
            width="50%">
    </div>
    <h4>{{product.title}}</h4>
    <div>{{product.body_html}}</div>
    <div><b>Vendor:</b> {{product.vendor}}</div>
    <div> <b>Type:</b> {{product.product_type}}</div>
    <div> <b>Tags:</b> {{product.tags}}</div>
    <h3>Variant:</h3>
    <table>
        <thead>
            <tr>
                <td>Title</td>
                <td>Weight</td>
                <td>Price</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            {% for variant in product.productshopifyvariant_set.all %}
            <tr>
                <td>{{variant.title}}</td>
                <td>{{variant.grams}} g</td>
                <td>{{variant.price}} $</td>
                <td><button class="js-addToCart" data-id="{{variant.id}}">Add to cart</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<input type="hidden" id="js-data" data-product_id="{{product.id}}"
    data-url_add_to_cart="{% url 'web:productShopifyDetail.addToCart' %}">
{% endblock %}
{% block js %}
<script>
    $(document).on("click", ".js-addToCart", function () {
        var formData = new FormData()

        formData.append('csrfmiddlewaretoken', $('[name="csrfmiddlewaretoken"]').val() || "")
        formData.append('variant_id', $(this).data("id") || "")

        $.ajax({
            url: $('#js-data').data("url_add_to_cart"),
            data: formData,
            processData: false,
            contentType: false,
            xhrFields: {
                withCredentials: true
            },
            type: 'POST',
            success: function (data) {
                console.log(data.cart)
                setCartQuantityProduct(data.cart)
            },
            error: function (data, textStatus, jqXHR) {
                var errors = data.responseJSON.errors
                console.log(errors)
                var message = ""

                for (const property in errors) {
                    message += (property + ": " + errors[property][0] + "\r\n")
                }

                alert(message);
            },
        });
    })
</script>
{% endblock %}